@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

@model MyWebGam.Models.NickNameViewModel


<h1>@ViewBag.userLogin</h1>
<h2>@ViewBag.result</h2>

<div class="container-fluid jumbotron">
    @using (Html.BeginForm("StartPage", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div>
            @Html.LabelFor(model => model.NickName)
        </div>
        <div>
            @Html.TextBoxFor(model => model.NickName, new { required = "true" })
            @Html.ValidationMessageFor(model => model.NickName)
        </div>
        <input type="submit" value="ок" />
    }
</div>
