@model MyWebGam.Models.OnlyEmailViewModel
<div class="container-fluid">
    @using (Html.BeginForm("OnlyEmail", "Account", FormMethod.Post, 
        new { @class = "form-horizontal", role = "form", id="onlyEmailForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <input type="submit" value=@Resources.Web.ChangePassword class="btn btn-default" />
    }
</div>
<script src="~/Scripts/authReg/onlyEmail.js"></script>