@model MyWebGam.Models.RegisteViewModel

   @using (Html.BeginForm("Registration", "Account", FormMethod.Post,

new { @class = "form-horizontal form-auth-reg", role = "form" , id = "formReg"}))
    {       
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.LabelFor(model => model.Name, new { @class="label-auth-reg"})
        @Html.TextBoxFor(model => model.Name, new { required = "true", @class = "input-auth-reg", autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.Name)
    
        @Html.LabelFor(model => model.Password, new { @class = "label-auth-reg" })
       
        @Html.PasswordFor(model => model.Password, new { required = "true", @class = "input-auth-reg" })
        @Html.ValidationMessageFor(model => model.Password)

        @Html.LabelFor(model => model.RepeatPassword, new { @class = "label-auth-reg" })
        @Html.PasswordFor(model => model.RepeatPassword, new { required = "true", @class = "input-auth-reg" })
        @Html.ValidationMessageFor(model => model.RepeatPassword)
       
        @Html.LabelFor(model => model.Email, new { @class = "label-auth-reg" })
        @Html.TextBoxFor(model => model.Email, new { required = "true", @class = "input-auth-reg" })
        @Html.ValidationMessageFor(model => model.Email)

        <div id="lower">
            <input type="checkbox" id="checkbox-auth-reg" class="input-auth-reg"><label class="check-auth-reg label-auth-reg" for="checkbox-auth-reg">@Resources.Web.RememberMe</label>
            <input type="submit" id="submitReg" class="input-auth-reg" value="@Resources.Web.RegisterSubmit">
        </div>
   }

<script src="~/Scripts/authReg/registration.js"></script>






