@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
@model MyWebGam.Models.RegisteViewModel
<div class="container-fluid">
    @using (Html.BeginForm("Registration", "Account", FormMethod.Post,

new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Name, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.PasswordFor(model => model.Password, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div>
            @Html.LabelFor(model => model.RepeatPassword)
        </div>
        <div>
            @Html.PasswordFor(model => model.RepeatPassword, new { required = "true" })
            @Html.ValidationMessageFor(model => model.RepeatPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <input type="submit" value=@Resources.Web.RegisterSubmit class="btn btn-default" />
    }
</div>