@*@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}*@
@model MyWebGam.Models.ResetPasswordViewModel
<div class="container-fluid">
    <h1>Change Password</h1>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post,

new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.RepeatPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.RepeatPassword, new { required = "true" })
            @Html.ValidationMessageFor(model => model.RepeatPassword)
        </div>        
        <input type="submit" value=@Resources.Web.ChangePassword class="btn btn-default" />
    }
</div>