@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
@model MyWebGam.Models.AuthorizationViewModel

<div class="container-fluid">
    <h1>@ViewBag.userIn</h1>
    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Name, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.PasswordFor(model => model.Password, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

       @Html.ActionLink(@Resources.Web.ForgotPassword,"OnlyEmail", "Account")
        <input type="submit" value=@Resources.Web.SignInSubmit class="btn btn-default" />
    }
</div>