@model MyWebGam.Models.AuthorizationViewModel

    <h1>@ViewBag.userIn</h1>
    <h2>@ViewBag.ChangePasswordIsSuccesfull</h2>


@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form-horizontal form-auth-reg", role = "form", id = "formAuth" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.LabelFor(model => model.Name, new { @class = "label-auth-reg" })
    @Html.TextBoxFor(model => model.Name, new { required = "true", @class = "input-auth-reg", autofocus = "" })
    @Html.ValidationMessageFor(model => model.Name)   
    @Html.LabelFor(model => model.Password, new { @class = "label-auth-reg", style = "display:block" })
    @Html.PasswordFor(model => model.Password, new { required = "true", @class = "input-auth-reg" })
    @Html.ValidationMessageFor(model => model.Password)

    <div class="forgot-password">@Html.ActionLink(@Resources.Web.ForgotPassword, "OnlyEmail", "Account")</div>

    <div id="lower">
        <input type="checkbox" id="checkbox-auth-reg" class="input-auth-reg"><label class="check-auth-reg label-auth-reg" for="checkbox-auth-reg">@Resources.Web.RememberMe</label>
        <input class="btn-warning input-auth-reg" type="submit" id="submitAuth" value=@Resources.Web.SignInSubmit>
    </div>
}

<script src="~/Scripts/authReg/signIn.js"></script>