@model MyWebGam.Models.AuthorizationViewModel

    <h1>@ViewBag.userIn</h1>
    <h2>@ViewBag.ChangePasswordIsSuccesfull</h2>


@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form-horizontal form-auth-reg", role = "form", id = "formAuth" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.LabelFor(model => model.Name, new { @class = "label-auth-reg" })
    @Html.TextBoxFor(model => model.Name, new { required = "true", @class = "input-auth-reg" })
    @Html.ValidationMessageFor(model => model.Name)
    @Html.LabelFor(model => model.Password, new { @class = "label-auth-reg" })
    @Html.PasswordFor(model => model.Password, new { required = "true", @class = "input-auth-reg" })
    @Html.ValidationMessageFor(model => model.Password)

    <div id="lower">
        <input type="checkbox" id="checkbox-auth-reg" class="input-auth-reg"><label class="check-auth-reg label-auth-reg" for="checkbox-auth-reg">Запомнить меня</label>
        <input type="submit" id="submitAuth" class="input-auth-reg" value=@Resources.Web.SignInSubmit>
    </div>
}

<script>
    var network, name;
    network = $.connection.chatHub;

    $("#formAuth").submit(function (event) {
        name = $("#formAuth").find(".input-auth-reg").val();
        event.preventDefault();        
              
        $.post("http://localhost:30657/Account/SignIn", $("#formAuth").serialize())
        .done(function (data) {
            
            if (data.responceMessage == "successful") {

                alert("successful");
                location.href = "http://localhost:30657/";                                               
            }
            else if (data.responceMessage == "emailNotConfirmed") {
                location.href = "http://localhost:30657/Account/PleaseConfirmedEmail";
            }
            $("#resultAuthReg").html(data);
        });        
        
    });
</script>