@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyWebGam.Models.AuthorizationViewModel

<div class="container-fluid">
    @using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div>
            @Html.LabelFor(model => model.Name)
        </div>
        <div>
            @Html.TextBoxFor(model => model.Name, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.PasswordFor(model => model.Password, new { required = "true" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

            
        <input type="submit" value="Зарегистрироваться" />
    }
</div>