@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/Content/css")  
  
</head>
<body>
    
    <div class="container-fluid color-main-container">
       
        <div id="reg-auth-block" class="min-padding-blockk clearfix ">
            <a href="@Url.Action("SignIn", "Account")">Ввойти</a>
            @Html.ActionLink("Зарегистрироваться", "Registration", "Account")            
        </div>

        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>