@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div id="myGame"></div>
    <div class="container-fluid color-main-container">
        <div class="reg-auth-block min-padding-block clearfix ">
            @Html.ActionLink(@Resources.Web.ChangePassword, "ResetPassword", "Account")
            @Html.ActionLink(@Resources.Web.SignOut, "SignOut", "Account")
        </div>
        <div id="hdId" class="hidden"></div>
        <div id="hello" class="display-none">Hello, <span id="userName"></span></div>
        <div id="nowConnected" class="display-none">Now connected:</div>
        <div id="networkResult">

        </div>

        <div>
            <a class="hover-text-decoration-none" href=@Url.Action("ChangeCulture", "Home", new { lang = "en" })> <img class="lang-img" src="~/Content/img/englishFlag.png" /> </a>
            <a class="hover-text-decoration-none" href=@Url.Action("ChangeCulture", "Home", new { lang = "ru" })> <img class="lang-img" src="~/Content/img/russianFlag.png" /> </a>
        </div>
        <div id="deletedUser">
            <div class="some-test">Some test</div>
            Deleted user
        </div>

        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryTemplate")
    @*@Scripts.Render("~/bundles/jquerySignalR")*@
    @Scripts.Render("~/bundles/threeJs")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/authReg")
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/network/network.js"></script>
    <script src="~/Scripts/network/functionsForNewtwork.js"></script>

    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/network/network.js"></script>
    <script src="~/Scripts/network/functionsForNewtwork.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $("#chatBody").removeClass("hidden");
        $("#chatBody").show();
        var resources = {
            welcome: "@Resources.Web.Welcome",
            entryNameError: "@Resources.Web.EntryNameError",
            nameIsTooLength: "@Resources.Web.NameIsTooLength",
            hours: "@Resources.Web.Hours",
            minutes: "@Resources.Web.Minutes",
            errorEntryNickNameWithoutSpaces: "@Resources.Web.ErrorEntryNickNameWithoutSpaces"        
        };
    </script>

</body>
</html>